<h1>Books</h1>
  <table>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
    <tr>
      <td></td>
      <tb></tb>
    </tr>
  </table>
  
<h2>New book</h2>
<%= form_with model: @book do |f| %>

  <h4>Title</h4>
  <%= f.text_field :title %>
  

  <h4>Body</h4></h4>
  <%= f.text_area :body %>
  
  <%= f.submit 'Create Book' %>
<% end %>
